
/* .navbar-background {
    position: relative;
    background: url('/assets/image2.jpg') no-repeat center center;
    background-size: cover;
    height: 300px; 
    display: flex;
    align-items: flex-start;
   
} */

.navbar {
    background:#ffdc86; 
    top: 7px;
    width:93%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin:40px;
    border-radius:10px;
}
.navbar-brand {
    font-family: 'Qwigley', cursive;
    display: flex;
    letter-spacing: 2px;
    align-items: center;
}

.navbar-brand .brand-title,
.navbar-brand .brand-subtitle {
    color: #E52020;
    font-weight: bold;
}

.navbar-brand .brand-title {
    font-size: 40px;
}

.navbar-brand .brand-subtitle {
    font-size: 32px;
}

/* Navbar Links & Dropdown */
.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    color: #E52020;
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 8px 15px;
}

.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
    transform: translateY(-3px);
    background-color: transparent;
    text-decoration: none;
}

.navbar-nav .nav-link::before,
.dropdown-menu .dropdown-item::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #E52020;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::before,
.dropdown-menu .dropdown-item:hover::before {
    transform: scaleX(1);
}
.dropdown-menu {
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 0;
    transition: all 0.3s ease;
}

/* Social Icons */
.social-icons a {
    color: #E52020;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
    color: #e73636;
    transform: scale(1.5);
}


/* Background section */
.hero-section {
    position: relative;
    background: url('/assets/image4.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}


/* Overlay for dark effect */
.hero-section::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Hero text content */
.hero-content {
    position: relative;
    z-index: 2;
}
.hero-content h1{
    color: #fff;
    font-size:30px;
    margin-top:100px;
}

.breadcrumb {
    justify-content: center;
    margin-top: 10px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.breadcrumb-item a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}

nav .breadcrumb .breadcrumb-item.active {
    color: #E52020;
    font-weight: bold;
}



/* If needed, adjust media queries for responsiveness */
@media (max-width: 768px) {
    .navbar-background {
        height: 200px;
    }
    .navbar {
        width: 95%;
        top: 20px;
    }
}


.services-section {
    background-color:#fff
  }
  
  .service-card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .service-card img {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .service-card:hover img {
    transform: scale(1.05);
  }
  
  .service-icon img {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    padding: 10px;
    transition: background 0.3s, transform 0.3s;
  }
  
  .service-icon img:hover {
    background:#ffdc86;
    transform: scale(1.1);
  }
  
  .col-md-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-md-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-custom {
    background-color: #ffdc86; 
    color:#E52020;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
 }
.btn-custom:hover {
    box-shadow: 0 0.6em 0.5em -0.4em #ffdc86; 
    transform: translateY(-0.25em);
    background: #ffdc86; }



    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;   
  }
  
  .gallery-img {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
  }
  
  .gallery-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .4s ease;
  }
  
  .gallery-img:hover img {
      transform: scale(1.1);
  }
  
  .gallery-icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      opacity: 0;
      transition: .4s ease;
      z-index: 99;
  }
  
  .gallery-icon i {
      color: #fff;
      font-size: 25px;
  }
  
  .gallery-img:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      background-color: #000;
      opacity: .4;
      top: 0;
      transition: .4s ease;
  }
  
  .gallery-img:hover:before{
      height: 100%;
      z-index: 9;
  }
  
  .gallery-img:hover .gallery-icon {
      opacity: 1;
  }
  
  .gallery-img.style-1 {
      height: 300px;
  }
  
  
  .gallery-img.style-2 {
      height: 200px;
  }
  
  .gallery-img.style-3 {
      height: 200px;
  }
  
  .gallery-img.style-4 {
      height: 300px;
  }
  .row.gallery .col-lg-3 {
    padding: 0 5px;
}
  
  .row.gallery .mb-3{
      margin-bottom: 20px !important;
  }
  
  /* Responsive  */
  
  @media only screen and (max-width:991px){
      .gallery-section {
          height: 100%;
      }
  }

    
        /* FAQ Section Styles */
.faq-section {
  background: #fff;
}

.accordion-button {
  background-color: #f5f5f5;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s ease;
  border: none;
}

.accordion-item:hover .accordion-button {
  background-color:#E52020;
  color: #fff;
}


.accordion-button,
.accordion-button:not(.collapsed) {
  background-color:#E52020;
  color: #fff;
}


.accordion-button {
  transition: all 0.3s ease;
}

/* .btn-custom {
  background-color: #c82aff;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-custom:hover {
  background-color: #a01fd2;
  color: #fff;
} */
  

/* Footer Section */

footer {
  background: linear-gradient(to right, #ffdc86,#fff3d4);
  color: #fff;
  padding: 60px 0 20px;
  position: relative;
}

.navbar-brand-logo {
  font-family: 'Qwigley', cursive;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  text-decoration: none;
}

.navbar-brand-logo .brand-title-logo,
.navbar-brand-logo .brand-subtitle-logo {
  color: #E52020;
  font-weight: bold;
}

.navbar-brand-logo .brand-title-logo {
  font-size: 60px;
}

.navbar-brand-logo .brand-subtitle-logo {
  font-size: 52px;
}

footer .social-icons a {
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #E52020;
  border-radius: 50%;
  padding: 9px 12px;
  color:#E52020;
  transition: background 0.3s, color 0.3s;
}

footer .social-icons a:hover {
  background:#E52020;
  color:#ffdc86;
}

footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #E52020;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li a {
  color:#E52020;
  text-decoration: none;
  transition: color 0.3s;
}

footer ul li a:hover {
  color:#000;
}

footer .contact-info ul li {
  color:#E52020;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

footer .contact-info ul li:hover {
  color: #000;
}

footer .contact-info i {
  margin-right: 8px;
}

footer .bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color:#E52020;
}